<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ermis Software">
    <meta name="author" content="Ermis">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset('addon/img/icon.png') }}" sizes="32x32">

    <title>Hệ thống phần mềm Ermis</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('home/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('home/css/templatemo-space-dynamic.css') }}">
    <link rel="stylesheet" href="{{ asset('home/css/animated.css') }}">
    <link rel="stylesheet" href="{{ asset('home/css/owl.css') }}">
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo"> 
             <img src="{{ asset('addon/img/logo-big-blue.png') }}" alt="Ermis">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
              <li class="scroll-to-section"><a href="#about">Về Ermis</a></li>
              <li class="scroll-to-section"><a href="#services">Bảng giá</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Sản phẩm</a></li>
              <!--<li class="scroll-to-section"><a href="#blog">Cập nhật</a></li> -->
              <li class="scroll-to-section"><a href="#contact">Hỗ trợ</a></li> 
              <li class="scroll-to-section"><div class="main-red-button"><a href="https://ermis.io.vn">Phần mềm</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>Chào mừng đến với hệ sinh thái phần mềm Ermis</h6>
                <h2>Ra mắt <a href="/invoice/login-key"><em>Ermis Invoice</em></a> <span>tra cứu</span> hóa đơn</h2>
                
                <form id="search" action="#" method="GET">
                  <fieldset>
                    <input type="tax_code" name="tax_code" class="tax_code" placeholder="Tìm thông tin mã số thuế" autocomplete="on" required>
                  </fieldset>
                  <fieldset>
                    <button type="submit" class="main-button">Tìm kiếm</button>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{{ asset('home/images/banner-right-image.png')}}" alt="team meeting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="{{ asset('home/images/about-left-image.png') }}" alt="person graphic">
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="{{ asset('home/images/service-icon-01.png') }}" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Trực tuyến</h4>
                    <p>Chạy trên nền website online không cần cài đặt</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="{{ asset('home/images/service-icon-02.png') }}" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Báo cáo thực</h4>
                    <p>Dữ liệu tự động cập nhập, phản ánh tức thời báo cáo theo thời gian thực.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="{{ asset('home/images/service-icon-03.png') }}" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Tích hợp AI</h4>
                    <p>Tích hợp AI vào các chức năng phần mềm</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                  <div class="icon">
                    <img src="{{ asset('home/images/service-icon-04.png')}}" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Bảo mật</h4>
                    <p>Tối ưu hóa, dễ dàng bảo trì ,mở rộng và đảm bảo bảo mật dữ liệu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="{{ asset('home/images/services-left-image.png')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
           <!-- Basic Plan -->
            <div class="col">
                <div class="card h-100 pricing-card shadow-sm">
                    <div class="card-body p-5">
                        <h5 class="card-title text-muted text-uppercase mb-4">Ermis Invoice</h5>
                        <h1 class="display-5 mb-4">200.000<small class="text-muted fw-light">/tháng</small></h1>
                        <ul class="list-unstyled feature-list">
                            <li><i class="fas fa-check-circle"></i> Tra cứu hóa đơn đầu ra/đầu vào</li>
                            <li><i class="fas fa-check-circle"></i> Tải bảng kê hóa đơn đầu ra/đầu vào</li>
                            <li><i class="fas fa-check-circle"></i> Tải hàng loạt hóa đơn PDF hoặc xml</li>
                            <li><i class="fas fa-check-circle"></i> Kiểm tra tính hợp lệ mã số thuế / hóa đơn</li>
                        </ul>
                        <button class="btn btn-outline-primary btn-lg w-100 mt-4">Đăng ký</button>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Các sản phẩm phần mềm <em>Của chúng tôi</em></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="https://ermis.io.vn/vi/acc/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>Ermis Account</h4>
                <p>Phần mềm kế toán dành cho các doanh nghiệp</p>
              </div>
              <div class="showed-content">
                <img src="{{ asset('addon/img/ermis-account-logo.png') }}" alt="Phần mềm kế toán Ermis">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="https://ermis.io.vn/vi/pos/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>Ermis Pos</h4>
                <p>Phần mềm bán hàng dành cho các điểm bán lẻ</p>
              </div>
              <div class="showed-content">
                <img src="{{ asset('addon/img/ermis-pos.png') }}" alt="Phần mềm bán hàng Ermis">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="https://ermis.io.vn/vi/hrm/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Ermis Hrm</h4>
                <p>Phần mềm nhân sự dành cho các doanh nghiệp</p>
              </div>
              <div class="showed-content">
                <img src="{{ asset('addon/img/ermis-hrm.png') }}" alt="Phần mềm nhân sự Ermis">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 ">
          <a href="https://ermis.io.vn/vi/hotel/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Ermis Hotel</h4>
                <p>Phần mềm khách sạn dành cho khách sạn, resort</p>
              </div>
              <div class="showed-content">
                <img src="{{ asset('addon/img/ermis-hotel.png') }}" alt="Phần mềm khách sạn Ermis">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Góp ý cho Ermis</h2>            
            <div class="phone-info">
              <h4>Hãy gọi cho Ermis: <span><i class="fa fa-phone"></i> <a href="javascript:;">0386 692 911</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Tên" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Họ" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Nội dung" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Gửi tin nhắn</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="{{ asset('home/images/contact-decoration.png')}}" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2021 - Phần mềm Ermis
          
          <br>Phần mềm: <a rel="nofollow" href="https://ermis.io.vn">Ermis Solution</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="{{ asset('home/js/jquery.min.js') }}"></script>
  <script src="{{ asset('lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('home/js/owl-carousel.js') }}"></script>
  <script src="{{ asset('home/js/animation.js') }}"></script>
  <script src="{{ asset('home/js/imagesloaded.js') }}"></script>
  <script src="{{ asset('home/js/home-custom.js') }}"></script>
  <script src="{{ asset('home/js/font-awesome.min.js') }}"></script>

</body>
</html>