.login_heading {
  margin-top: 2em;
}
.login_page .pad_lock {
  width: 64px;
  height: 64px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-image: url("../img/pad-lock.png");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.085);
  background-position: 50% 1px;
}

.logo {
    max-width: 200px;
    margin: 0 auto;
    padding: 1em;
}